# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno / secretos
.env

# Base de datos local (SQLite)
instance/
*.sqlite
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Otros
.DS_Store
Thumbs.db

# Replit
.pythonlibs/
